body{
    background-color: darkslategray;
    margin: 0;
    height: 100vh;
    width: 100%;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    font-family: Comic Sans MS;
    background-image: linear-gradient(to right , rgb(0, 135, 177), rgb(0, 50, 187), rgb(106, 0, 148),  rgb(160, 0, 48) );
}
